* {
  padding: 0;
  margin: 0;
}
section {
  display: flex;
  justify-content: space-around;
}
.container {
  max-width: 45ch;
}
figure {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: xx-large;
  max-width: 25ch;
  margin: auto;
  text-align: center;
}